*{
	font-size:20px;
	font-family:poppins;
}
.nav-bar{
	background-color:#D3D3D3;
	width:100vw;
	height:30px;
		padding:10px;
	margin-right:1rem;
}
.nav-bar>ul{
	list-style:none;

}
.nav-bar li{
		display:inline;
	
}
